/* 
TWCI custom styling
*/
#page {
    background-repeat: no-repeat; 
    background-image: url(../images/page_bk.png);
}
#header {
    // dark gray, 100%,  set/max height, fonts, font size, color, 
    width:100%; margin: 0 auto; padding: 10px 0 0 0;
    background-color: $darkgray; 
    font-family: $brandongrotesque; font-size: 1.3125rem; color: $lightgray;
    box-sizing: border-box;
    a {
        color: $lightgray;
    }
    .inner {
        max-width:1300px; margin:0 auto; position: relative;
    }
    .block-menu-block {
        // position, color, size
        a {
            text-decoration: none;
        }

    }
    #logo {
        height: 80px;
        float: left;
        img { max-height: 100%; }
    }
    #block-block-2 {
        float: right; margin: 40px 0 0 0;
    }
}
.field-name-field-background-image {
    position: absolute; right: 0;
    text-align: right;
    img {  }
}
#main {
    font-weight:300;
    max-width:1300px; margin: 0 auto;
    // schedule consultation form
    #block-entityform-block-schedule-consultation {
        background-color: #b2b3b5; 
        &.active {
            .block__title { display: none; }
            .block__title {
                transform-origin: 100% 0;
                -webkit-transform-origin: 100% 0;
                top: 0; right: 100%; margin-right:60px;
                &:after { content: "\f056"; }
            }
            form {
                display: block;
            }
        }
        form { 
            padding-bottom: 10px;
            display: none;
            .form-wrapper {
                display: block;
            }
        }
        .block__title {
            position: absolute;  right: 0;
            transform: rotate(-90deg); transform-origin: 100% 100%;
            -webkit-transform: rotate(-90deg); -webkit-transform-origin: 100% 100%;
            background-color: $darkgray; color: $lightgray;
            font-family: $brandongrotesque; font-weight: normal;
            font-size: 36px; line-height: 36px; padding: 10px 15px;
            cursor: pointer; z-index: 2;
            width: 260px;
            &:after {
                content: "\f055"; font-size:21px;
                display: inline-block; margin-left:10px;
                font-family: 'FontAwesome';
            }
        }
        .pre-intructions {
            font-family: $brandongrotesque; line-height: 41px;
            p { margin: 0; }
            .box-top {
                background-color: $gray; padding:10px 20px;
                color: #bcbdbf; 
                .line1 { font-size: 29px; font-size: 36px; }
                .line2 { color: #eff0f0; }
                .line3 { font-size: 25px; }
            }
            .box-lower {
                padding: 5px 20px; font-size: 31px; color: #fff;
                cursor: pointer;
                font-size: 25px;
                &:before {
                    content: "\f055"; font-size:21px;
                    color: #f2f4f4; display: inline-block; margin-right:5px;
                    font-family: 'FontAwesome';
                }
            }
        }
        &.active {
            .pre-intructions {
                .box-lower {
                    color: $textgray;
                    &:before { content: "\f056"; color: $textgray; }
                }
            }
        }
        .form-wrapper {
            padding: 5px 20px; 
            .form-item {
                margin: 0;
                label { display: none; }
            }
            input, select {
                font-family: $whitney; font-weight: 300;
            }
            input[type=text] {
                border: 0; padding: 7px 10px;
                color: #808285; font-size:18px; 
                
            }
            input[type=submit] {
                background-color: $gray;  color: #fff;
                padding: 5px 20px; border: 0; width: 100%;
                font-size:18px; 
            }  
            legend { color: $textgray; }
        }
        .field-type-datetime {
            .form-wrapper {
                padding: 0; border: 0;
                .form-item { margin-right: 10px; }
                .form-select-wrapper { display: block; }
                .container-inline-date .date-padding { padding-left: 0; }
            }
        }
        .field-name-field-preferred-time {
            select { width: 100%; }
        }
        // select field styling
        .form-select-wrapper {
            position: relative;
            vertical-align: middle;
            &:before, &:after {
                content: "";
                position: absolute;
                pointer-events: none;
            }
            &:after {
                content: "\25BC";
                height: 1rem;
                font-size: .625rem;
                line-height: 1;
                right: 1.2rem;
                top: 50%; margin-top: -.5rem;
                color: $gray;
            }
            &:before {
                width: 2rem;
                right: 0; top: 0; bottom: 0;
            }
            select {
                text-indent:0.01px;
                text-overflow: "";
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                font-size: inherit; /* inherit size from .custom-dropdown */
                padding: 7px .5rem; /* add some space*/
                margin: 0; /* remove default margins */
                border: 0;
                padding-right: 2.5rem; /* accommodate with the pseudo elements for the dropdown arrow */				
                background-color: #fff;
                border-radius: 0;
                color: #808285; 
            }
        }
        @include breakpoint(maxsmall) {
            position: absolute; top: 100px; right: 0;
            &.active {
                position: relative; top: auto; right: auto;
                .block__title { 
                    transform: none; -webkit-transform: none;
                    position: relative; width: 100%;
                    display: block; right: 0%;
                    box-sizing: border-box;
                }
            }
        }
        @include breakpoint(minsmall) {
            .pre-intructions {
                .box-top {
                    .line1 { font-size: 36px; }
                    .line2 { font-size: 44px; }
                    .line3 { font-size: 31px; }
                }
                .box-lower {
                    font-size: 31px;
                }
            }
            .form-wrapper {
                input[type=text], input[type=submit] {
                    font-size:22px; 
                }
            }
        }
        @include breakpoint(smallmed) {
            position: absolute; right: -20px; z-index: 2;
            width: 400px;
            .block__title {
                display: block;
            }
        }
        @include breakpoint(minlarge) {
            .not-front & {
                position: relative;
                .block__title { display: none; }
                width: 100%;
                form {
                    display: block;
                    .form-wrapper {
                        display: none;
                    }
                }
                &.active {
                    form {
                        .form-wrapper {
                            display: block;
                        }
                    }
                }
            }
        }
    }
    #content {
        color: $textgray;
        p { margin: 0 0 24px 0; }
        h1 {
            color: $tealgreen; font-family: $brandongrotesque;
            font-weight: 300; margin-bottom: 20px;
        }
        h2 { 
            color: $lightgreen; font-family: $brandongrotesque; 
            font-weight: normal; margin: 0 0 16px 0;
        }
        a { 
            color: $tealgreen; text-decoration: none;
        }
    }
    .region-sidebar-second {
        position: relative; 
        @include breakpoint(maxsmall) {
            position: static;
        }
    }
    // team section
    /*
    .view-team-list {
        .views-field {
            margin-left:25%; margin-bottom: 10px;
        }
        .views-field-field-image {
            float: left; width: 25%; margin-left:0; 
            padding-right:20px; box-sizing: border-box;
        }
    }
    */
    
    .node-news {
        .field {
            margin-bottom: 10px;
        }
        .field-name-post-date {
            color: $tealgreen; float: left;
        }
        .field-name-field-tags {
            a:before { content: " | "; display: inline-block; padding: 0 5px; }
        }
        &.node-teaser {
            border-bottom: 1px $lightgreen solid;
            @include clearafter();
            @include breakpoint(minsmall) {
                .group-left { width: 25%; padding-right:20px; box-sizing: border-box; }
                .group-right { width: 75%; }
            }
            @include breakpoint(maxmall) {
                .group-left, .group-right { float: none; width: 100%; }
            }
        }
    }
    .view-team-list {
        .views-row { 
            padding:20px;
            .views-field { 
                margin-bottom: 10px;
            }
            .views-field-field-image {
                display: none;
            }
        }
    }
}

#footer {
    position: relative; width:100%; z-index: 3;
    background-color: $darkgray;
    color: #c7c8ca; font-size:12px; 
    padding: 5px 0;
    .footer-block {
        max-width: 1300px; margin: 0 auto;
        box-sizing: border-box;
        p { margin: 0; }
        a { color: $lightgray; text-decoration: none;  }
        .right { 
            a {
                padding:0 10px;
                color: #939598;
                &:first-child { padding-left:0; }
                &:last-child { padding-right:0; }
            }
            .bullet { color: $tealgreen; }
        }
    }
    @include breakpoint(minsmall) {
        position: fixed;  bottom:0px; 
    }
}

// home page 
.front {
    #page {
        #header {
            min-height:97px;
            position: fixed; z-index: 3;
        }
        h1.page__title {
            display: none;
        }
        #footer {
            background: rgba($darkgray, .85);
        }
        #main {
            padding: 0; max-width:100%;
            #content {
                padding: 0; position: relative; z-index: 2;
            }
            #block-views-homepage-images-block {
                position: absolute; top: 0; width: 100%;
                img { width: 100%; position: fixed; }
            }
            #block-views-homepage-images-block, .home_bk_img {
                height:100%;
                width:100%;
                position:fixed;
                background-size: cover;
            }
            #block-entityform-block-schedule-consultation {
                z-index: 2;
                @include breakpoint(minsmall) {
                    position: absolute; right: 0px; 
                    top: 165px; 
                    width: 400px;
                    .block__title {
                        display: block;
                    }
                }
                @include breakpoint(maxsmall) {
                    
                }
            }
            #block-views-page-image-block {
                @include breakpoint(maxsmall) {
                    position: fixed; top: 97px;
                }
                
            }
        }
    }
    
    
}